<h1>Users</h1>

<div class="create">
  <%= link_to 'Create a New User', new_user_path, class: 'btn btn-primary' %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ratings</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user do %>
            <%= image_tag user.picture(:thumb) if user.picture %><br />
            <%= user.name %>
          <% end %>
        </td>
        <td>
          <%= user.ratings.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>
