<div class="create">
  <%= link_to 'Edit User', edit_user_path(@user), class: 'btn' %>
</div>

<br style="clear: both" />

<div style="width: 18%; float: left; text-align: center">
  <h1><%= @user.name %></h1>
  <% if @user.picture.present? %>
    <div id="profile-picture">
      <%= image_tag @user.picture(:medium) %>
    </div>
  <% end %>
</div>

<div id="recommendations-tabs">
  <div class="tabs">
    <ul>
      <li id="band-recommendations-tab" class="active">Band Recommendations</li>
      <li id="similar-users-tab">Similar Users</li>
    </ul>
  </div>
  <ul id="band-recommendations" class="tab-contents">
    <% @band_recommendations.each do |band, score| %>
      <li><%= link_to band.name, band %> - <strong><%= score %></strong></li>
    <% end %>
  </ul>
  <ul id="similar-users" style="display: none" class="tab-contents">
    <% @user_recommendations.each do |user| %>
      <li><%= link_to user.name, user %> - <strong><%= user.similarity %></strong></li>
    <% end %>
  </ul>
</div>

<hr style="clear: both" />

<div class="user-ratings">
  <h2>Ratings (<%= @user.ratings.count %>)</h2>
  <ul>
    <% @ratings.each do |rating| %>
      <li><%= link_to rating.band.name, rating.band %> - <strong><%= rating.score %></strong></li>
    <% end %>
  </ul>
  <%= will_paginate @ratings, param_name: 'ratings_page' %>
</div>