<div class="create">
  <%= link_to 'Edit User', edit_user_path(@user), class: 'btn' %>
</div>

<br style="clear: both" />

<div style="width: 18%; float: left; text-align: center">
  <h1><%= @user.name %></h1>
  <% if @user.picture.present? %>
    <div id="profile-picture">
      <%= image_tag @user.picture(:medium) %>
    </div>
  <% end %>
</div>

<div style="width: 65%; float: left; border-left: 1px solid black; padding-left: 20px; ">
  <h2>Recommendations</h2>
  <ul>
    <% @recommendations.each do |band, score| %>
      <li><%= link_to band.name, band %> - <strong><%= score %></strong></li>
    <% end %>
  </ul>
</div>

<hr style="clear: both" />

<div class="user-ratings">
  <h2>Ratings (<%= @user.ratings.count %>)</h2>
  <ul>
    <% @ratings.each do |rating| %>
      <li><%= link_to rating.band.name, rating.band %> - <strong><%= rating.score %></strong></li>
    <% end %>
  </ul>
  <%= will_paginate @ratings, param_name: 'ratings_page' %>
</div>