<h1>
  <%= @band.name %>
</h1>

<h2>Ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
    <li><%= link_to rating.user.name, rating.user %> - <strong><%= rating.score %></strong>
  <% end %>
</ul>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
